<div class="container">
  <h2>Let's create this article</h2>
  <p>Enter some basic details about this article before you annotate your visualization.</p>

  <%= form_for :article, :url => {:action => "create"} do |f| %>
    <%# f.hidden_field :embedded_form, :value => true %>

    <div class="form-group">
      <label for="url">Article Title <span class="required-field">*</span></label>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter a title here" %>
    </div>

    <div class="form-group">
      <label for="description">Article Description <span class="required-field">*</span></label>
      <%= f.text_area :description, class: "form-control", placeholder: "Enter a title here" %>
    </div>

    <div class="form-group">
      <label for="url">Article URL <span class="required-field">*</span></label>
      <%= f.text_field :url, class: "form-control", placeholder: "www.example.com", value: @url, readonly: true %>
    </div>

    <%= f.submit 'Next', class: "btn btn-success" %>
  <% end %>
</div>
